<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Home</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="login-container">
    <h2>Sesión iniciada</h2>
    <p>¡Hola!</p>
    <button onclick="logout()">Cerrar sesión</button>
  </div>

</body>
</html>
